<div class="jumbotron">
  <h1>Dzień Dobry!</h1>
  <div id=title class="st-title-header">
      <p>Zaloguj się do aplikacji swoim kontem Decathlon (gmail)</p>
  </div>
  <p><a class="st-btn st-btn-primary st-btn-right" href="/auth/google_oauth2" role="button">Zaloguj się</a></p>
</div>