
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');

th {
	padding-right: 20px;
	text-align: center !important;

}
img{
	width:75%;
}
h1{
	text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
}
td {
	text-align: center;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
}
th{
	font-style:italic;
}
h2{
	text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    margin-top:0px;
    margin-bottom:6%;
}