
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');

th {
	padding-right: 10px;
    padding-left: 10px;
	text-align: center !important;

}
table{
    margin-top: 40px;
}
img{
	width:75%;
}
h1{
	text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
}
td {
	text-align: center;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
}
th{
	font-style:italic;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
	text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    margin-top:0px;
    margin-bottom:6%;
}
#title{
    margin-top: 90px;
}
.st-subtitle-header {
  box-sizing: border-box;
  font-family: "Roboto Condensed", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 26px;
  font-style: italic;
  line-height: 1.1;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #393939;
}
.st-title-header {
  box-sizing: border-box;
  font-family: "Roboto Condensed", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}
.st-title-header span {
  color: #0082c3;
}
.st-btn,
.st-btn:after,
.st-btn:before {
  box-sizing: border-box;
}
.st-btn {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 10px 35px;
  margin-bottom: 10px;
  overflow: hidden;
  font-family: "Roboto Condensed", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.st-btn.disabled {
  cursor: not-allowed;
  opacity: .5;
  box-shadow: none !important;
}
.st-btn:active:not(.disabled):before {
  display: none;
}
.st-btn.st-btn-left:after,
.st-btn.st-btn-right:after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-stretch: normal;
  line-height: 1;
  font-family: Material-Design-Iconic-Font;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.st-btn:active,
.st-btn:hover {
  text-decoration: none;
  outline: 0;
}
.st-btn:hover:not(.disabled):before {
  z-index: -1;
  width: 100%!important;
  -webkit-transform: none !important;
          transform: none !important;
}
.st-btn.st-btn-left:before {
  position: absolute;
  top: 0;
  width: 36px;
  height: 100%;
  content: '';
  background: #fff;
  opacity: 0.8;
}
.st-btn.st-btn-left:after {
  top: 50%;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.st-btn.st-btn-left {
  padding: 10px 35px 10px 51px;
}
.st-btn.st-btn-left:before {
  left: 0;
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  -webkit-transform-origin: 0 100% 0;
          transform-origin: 0 100% 0;
}
.st-btn.st-btn-left:after {
  left: 12px;
  content: '\2192';
}
.st-btn.st-btn-right:before {
  position: absolute;
  top: 0;
  width: 36px;
  height: 100%;
  content: "";
  background: #fff;
  opacity: 0.8;
}
.st-btn.st-btn-right:after {
  top: 50%;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.st-btn.st-btn-right {
  padding: 10px 51px 10px 35px;
}
.st-btn.st-btn-right:before {
  right: 0;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-transform-origin: 100% 100% 0;
          transform-origin: 100% 100% 0;
}
.st-btn.st-btn-right:after {
  right: 12px;
  content: '\2192';
}
.st-btn.st-btn-primary {
  background: -webkit-linear-gradient(#4eb0ed 0, #0173b9 100%);
  background: linear-gradient(#4eb0ed 0, #0173b9 100%);
  box-shadow: rgba(0, 0, 0, 0.168627) 0 1px 2px 0;
}
.st-btn.st-btn-primary:hover {
  box-shadow: rgba(0, 0, 0, 0.270588) 0 1px 3px 0;
}
.st-btn.st-btn-primary:active:not(.disabled) {
  background: #0173b9;
  box-shadow: none;
}
.st-btn.st-btn-primary:active,
.st-btn.st-btn-primary:hover {
  color: #ffffff;
}
.st-btn.st-btn-primary::before {
  opacity: 0.2;
}
.st-btn.st-btn-left.st-btn-small:after,
.st-btn.st-btn-right.st-btn-small:after {
  font-size: 18px;
}
.st-btn.st-btn-left.st-btn-small:after {
  left: 9px;
}
.st-btn.st-btn-small {
  font-size: 14px;
}
.st-btn.st-btn-small.st-btn-left {
  padding: 5px 25px 5px 37px;
}
.st-btn.st-btn-small.st-btn-right {
  padding: 5px 37px 5px 25px;
}
.st-btn.st-btn-small:before {
  width: 26px;
}
.st-btn.st-btn-right.st-btn-small:after {
  right: 9px;
}
@font-face {
    font-family: DecathlonCube;
    src: url(www.decathlon.pl/fonts/DecathlonCube.eot);
    src: url(www.decathlon.pl/fonts/DecathlonCube.eot?#iefix) format("embedded-opentype"),url(www.decathlon.pl/fonts/DecathlonCube.woff2) format("woff2"),url(www.decathlon.pl/fonts/DecathlonCube.woff) format("woff"),url(www.decathlon.pl/fonts/DecathlonCube.ttf) format("truetype"),url(www.decathlon.pl/fonts/DecathlonCube.svg#DecathlonCube) format("svg");
    font-weight: 400;
    font-style: normal
}
.form-group{
  height: 40px;
}
#zalogowany{
  margin-top: 15px;
}
