<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Yellow price</a></li>
  <li role="presentation"><a href="#">Sticker</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>